*{
    margin: 0%;
    padding: 0%;
}
body{
    background: #3494E6; 
    background: -webkit-linear-gradient(to left, rgb(243, 201, 222), #3494E6); 
    background: linear-gradient(to left, rgb(229, 196, 213), #3494E6); 
    /*font-family: 'Courgette', cursive;*/
    

}

.titular{
    font-weight: bold;
    font-family: 'Courgette', cursive;
    background: rgb(218, 231, 222);
    background-image: url(img/signo2.png);
    height: 90px;
    width: 35%;
    margin: auto;
    border-radius: 20%;
    box-shadow: 2px 2px 0 #AAA, 6px 6px 2px #777, 12px 12px 8px #444;
    text-shadow: 2px 2px 0 white, 6px 6px 2px #777, 12px 12px 8px rgb(117, 116, 116);
    text-align: center;
    margin-bottom: 3%;
    margin-top: 2%;
    padding-top: 0.5%;
    font-size: 2rem;
    animation-duration: 2s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

.cuestionario{
    font-family: 'Russo One', sans-serif;
    background: rgb(218, 231, 222);
    background-image: url(img/signo23.png);
    height: 455px;
    width: 70%;
    margin: auto;
    border-radius: 20%;
    box-shadow: 2px 2px 0 #AAA, 6px 6px 2px #777, 12px 12px 8px #444;
    animation-delay: 2s;
}

.cajaPregunta{ 
    margin: auto;
    width: 80%;
    height: 460px;
    text-shadow: 2px 2px 0 white, 6px 6px 2px #777, 12px 12px 8px rgb(117, 116, 116);
}

.pregunta{
    padding-top: 9%;
    font-size: 2em;
}

.respuestas{
    padding-top: 2%;
    margin-bottom: 3%;
    font-size: 1.4rem;
    font-weight: bold;
}

.respuestas .res{
    padding-top: 2%;
}

.txtRespuesta{
    font-size: 1.3rem;
    text-align: center;
    font-weight: bold;
}

input{
    margin-top: 3%;
    width: 90px;
    height: 30px;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 50%;
/*    box-shadow: 2px 2px 0 #AAA, 12px 8px 8px #444;
    background-color: rgba(255, 255, 255, 0.25);
    color: rgb(14, 13, 13);*/
    color: white;
    background-color: rgba(10, 9, 9, 0.8);
    box-shadow: 4px 4px 2px rgb(56, 56, 56), 12px 12px 8px rgb(10, 4, 4);
    margin-left: 5%;
    margin-right: 5%;
}

.botones {
    text-align: center;
}



@media (max-width: 410px){
    *{
        margin: 0%;
        padding: 0%;
    }
    body{
        background: #3494E6; 
        background: -webkit-linear-gradient(to left, rgb(243, 201, 222), #3494E6); 
        background: linear-gradient(to left, rgb(229, 196, 213), #3494E6); 
        /*font-family: 'Courgette', cursive;*/
    }
    
    .titular{
        font-weight: bold;
        font-family: 'Courgette', cursive;
        background: rgba(255, 252, 252, 0.5);
        background-image: url(img/signo2.png);
        height: 60px;
        width: 68%;
        margin: auto;
        border-radius: 20%;
        box-shadow: 2px 2px 0 #AAA, 6px 6px 2px #777, 12px 12px 8px #444;
        text-shadow: 2px 2px 0 white, 6px 6px 2px #777, 12px 12px 8px rgb(117, 116, 116);
        text-align: center;
        margin-bottom: 8%;
        margin-top: 6%;
        padding-top: 6%;
        font-size: 1.1rem;
    }
    
    .cuestionario{
        font-family: 'Rubik Mono One', sans-serif;
        background-color: rgba(255, 252, 252, 0.5);
        background-image: url(img/signo23resp.png);
        height: 425px;
        width: 82%;
        margin: auto;
        border-radius: 20%;
        box-shadow: 2px 2px 0 #AAA, 6px 6px 2px #777, 12px 12px 8px #444;
    }
    
    .cajaPregunta{ 
        margin: auto;
        width: 80%;
        height: 425px;
        text-shadow: 2px 2px 0 white, 6px 6px 2px #777, 12px 12px 8px rgb(117, 116, 116);
    }
    
    .pregunta{
        padding-top: 14%;
        padding-bottom: 5%;
        font-size: 1.3rem;
        margin-left: 4%;
    }
    
    .respuestas{
        padding-top: 0%;
        margin-bottom: 10%;
        font-size: 0.9rem;
        font-weight: bold;
        margin-left: 10%;

    }
    
    .respuestas .res{
        padding-top: 7%;
    }
    
    .txtRespuesta{
        font-size: 0.8rem;
        text-align: center;
        font-weight: bold;
        margin-top: 5%;
    }
    
    input{
        margin-top: 8%;
        width: 70px;
        height: 30px;
        font-size: 1.2rem;
        font-weight: bold;
        border-radius: 50%;
        color: white;
        background-color: rgba(10, 9, 9, 0.8);
        box-shadow: 4px 4px 2px rgb(56, 56, 56), 12px 12px 8px rgb(10, 4, 4);
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .botones {
        text-align: center;
    }
    .cajaBotones{
        border-top: 3px dotted black;
    }
}


@media (min-width:411px) and (max-width: 600px){
    *{
        margin: 0%;
        padding: 0%;
    }
    body{
        background: #3494E6; 
        background: -webkit-linear-gradient(to left, rgb(243, 201, 222), #3494E6); 
        background: linear-gradient(to left, rgb(229, 196, 213), #3494E6); 
        
    }
    
    .titular{
        font-weight: bold;
        font-family: 'Courgette', cursive;
        background: rgb(218, 231, 222);
        background-image: url(img/signo2\ resp700.png);
        height: 60px;
        width: 68%;
        margin: auto;
        border-radius: 20%;
        box-shadow: 2px 2px 0 #AAA, 6px 6px 2px #777, 12px 12px 8px #444;
        text-shadow: 2px 2px 0 white, 6px 6px 2px #777, 12px 12px 8px rgb(117, 116, 116);
        text-align: center;
        margin-bottom: 5%;
        margin-top: 8%;
        padding-top: 3%;
        padding-bottom: 2%;
        font-size: 1.3rem;
    }
    
    .cuestionario{
        font-family: 'Russo One', sans-serif;
        background:  rgb(218, 231, 222);
        background-image: url(img/signo23resp700.png);
        height: 455px;
        width: 75%;
        margin: auto;
        border-radius: 20%;
        box-shadow: 2px 2px 0 #AAA, 6px 6px 2px #777, 12px 12px 8px #444;
    }
    
    .cajaPregunta{ 
        margin: auto;
        width: 80%;
        height: 460px;
        text-shadow: 2px 2px 0 white, 6px 6px 2px #777, 12px 12px 8px rgb(117, 116, 116);
    }
    
    .pregunta{
        padding-top: 12%;
        font-size: 1.2rem;
        margin-left: 4%;
    }
    
    .respuestas{
        padding-top: 4%;
        margin-bottom: 3%;
        font-size: 1rem;
        font-weight: bold;
        margin-left: 10%;
    }
    
    .respuestas .res{
        padding-top: 7%;
    }
    
    .txtRespuesta{
        font-size: 0.8rem;
        text-align: center;
        font-weight: bold;
        margin-top: 9%;
        
    }
    
    input{
        margin-top: 7%;
        width: 70px;
        height: 30px;
        font-size: 1.3rem;
        font-weight: bold;
        border-radius: 50%;
        color: white;
        background-color: rgba(10, 9, 9, 0.8);
        box-shadow: 4px 4px 2px rgb(56, 56, 56), 12px 12px 8px rgb(10, 4, 4);
        margin-left: 5%;
        margin-right: 5%;
    }
    
    .botones {
        text-align: center;
    }
}

@media (min-width:601px) and (max-width: 800px){
    *{
        margin: 0%;
        padding: 0%;
    }
    body{
        background: #3494E6; 
        background: -webkit-linear-gradient(to left, rgb(243, 201, 222), #3494E6); 
        background: linear-gradient(to left, rgb(229, 196, 213), #3494E6); 
        
    }
    
    .titular{
        font-weight: bold;
        font-family: 'Courgette', cursive;
        background: rgb(218, 231, 222);
        background-image: url(img/signo2\ resp700.png);
        height: 60px;
        width: 68%;
        margin: auto;
        border-radius: 20%;
        box-shadow: 2px 2px 0 #AAA, 6px 6px 2px #777, 12px 12px 8px #444;
        text-shadow: 2px 2px 0 white, 6px 6px 2px #777, 12px 12px 8px rgb(117, 116, 116);
        text-align: center;
        margin-bottom: 5%;
        margin-top: 5%;
        padding-top: 2%;
        padding-bottom: 4%;
        font-size: 1.8rem;
    }
    
    .cuestionario{
        font-family: 'Russo One', sans-serif;
        background:  rgb(218, 231, 222);
        background-image: url(img/signo23resp700.png);
        height: 455px;
        width: 75%;
        margin: auto;
        border-radius: 20%;
        box-shadow: 2px 2px 0 #AAA, 6px 6px 2px #777, 12px 12px 8px #444;
    }
    
    .cajaPregunta{ 
        margin: auto;
        width: 80%;
        height: 460px;
        text-shadow: 2px 2px 0 white, 6px 6px 2px #777, 12px 12px 8px rgb(117, 116, 116);
    }
    
    .pregunta{
        padding-top: 10%;
        font-size: 1.5rem;
        margin-left: 4%;
    }
    
    .respuestas{
        padding-top: 1%;
        margin-bottom: 3%;
        font-size: 1rem;
        font-weight: bold;
        margin-left: 10%;
    }
    
    .respuestas .res{
        padding-top: 7%;
    }
    
    .txtRespuesta{
        font-size: 0.8rem;
        text-align: center;
        font-weight: bold;
        margin-top: 7%;
        
    }
    
    input{
        margin-top: 5%;
        width: 70px;
        height: 30px;
        font-size: 1.2rem;
        font-weight: bold;
        border-radius: 50%;
        color: white;
        background-color: rgba(10, 9, 9, 0.8);
        box-shadow: 4px 4px 2px rgb(56, 56, 56), 12px 12px 8px rgb(10, 4, 4);
        margin-left: 2%;
        margin-right: 3%;
    }
    
    .botones {
        text-align: center;
    }

}

@media (min-width:801px) and (max-width: 1200px){
    *{
        margin: 0%;
        padding: 0%;
    }
    body{
        background: #3494E6; 
        background: -webkit-linear-gradient(to left, rgb(243, 201, 222), #3494E6); 
        background: linear-gradient(to left, rgb(229, 196, 213), #3494E6); 
        
    }
    
    .titular{
        font-weight: bold;
        font-family: 'Courgette', cursive;
        background: rgb(218, 231, 222);
        background-image: url(img/signo23resp1000tit.png);
        height: 60px;
        width: 68%;
        margin: auto;
        border-radius: 20%;
        box-shadow: 2px 2px 0 #AAA, 6px 6px 2px #777, 12px 12px 8px #444;
        text-shadow: 2px 2px 0 white, 6px 6px 2px #777, 12px 12px 8px rgb(117, 116, 116);
        text-align: center;
        margin-bottom: 5%;
        margin-top: 5%;
        padding-top: 2%;
        padding-bottom: 4%;
        font-size: 2rem;
    }
    
    .cuestionario{
        font-family: 'Russo One', sans-serif;
        background:  rgb(218, 231, 222);
        background-image: url(img/signo23resp1000.png);
        height: 455px;
        width: 75%;
        margin: auto;
        border-radius: 20%;
        box-shadow: 2px 2px 0 #AAA, 6px 6px 2px #777, 12px 12px 8px #444;
    }
    
    .cajaPregunta{ 
        margin: auto;
        width: 80%;
        height: 460px;
        text-shadow: 2px 2px 0 white, 6px 6px 2px #777, 12px 12px 8px rgb(117, 116, 116);
    }
    
    .pregunta{
        padding-top: 7%;
        font-size: 1.6rem;
        margin-left: 4%;
    }
    
    .respuestas{
        padding-top: 3%;
        margin-bottom: 3%;
        font-size: 1.2rem;
        font-weight: bold;
        margin-left: 10%;
    }
    
    .respuestas .res{
        padding-top: 3%;
    }
    
    .txtRespuesta{
        font-size: 0.9rem;
        text-align: center;
        font-weight: bold;
        margin-top: 7%;
        
    }
    
    input{
        margin-top: 4%;
        width: 75px;
        height: 30px;
        font-size: 1.2rem;
        font-weight: bold;
        border-radius: 50%;
        color: white;
        background-color: rgba(10, 9, 9, 0.8);
        box-shadow: 4px 4px 2px rgb(56, 56, 56), 12px 12px 8px rgb(10, 4, 4);
        margin-left: 5%;
        margin-right: 3%;
    }
    
    .botones {
        text-align: center;
    }

}
/*
@media (min-width:1000px) and (max-width: 1200px){
    *{
        margin: 0%;
        padding: 0%;
    }
    body{
        background: #3494E6; 
        background: -webkit-linear-gradient(to left, rgb(243, 201, 222), #3494E6); 
        background: linear-gradient(to left, rgb(229, 196, 213), #3494E6); 
        
    }
    
    .titular{
        font-weight: bold;
        font-family: 'Courgette', cursive;
        background: rgb(218, 231, 222);
        background-image: url(img/signo2\ resp700.png);
        height: 60px;
        width: 68%;
        margin: auto;
        border-radius: 20%;
        box-shadow: 2px 2px 0 #AAA, 6px 6px 2px #777, 12px 12px 8px #444;
        text-shadow: 2px 2px 0 white, 6px 6px 2px #777, 12px 12px 8px rgb(117, 116, 116);
        text-align: center;
        margin-bottom: 5%;
        margin-top: 5%;
        padding-top: 2%;
        padding-bottom: 4%;
        font-size: 1.8rem;
    }
    
    .cuestionario{
        font-family: 'Russo One', sans-serif;
        background:  rgb(218, 231, 222);
        background-image: url(img/signo23resp700.png);
        height: 455px;
        width: 75%;
        margin: auto;
        border-radius: 20%;
        box-shadow: 2px 2px 0 #AAA, 6px 6px 2px #777, 12px 12px 8px #444;
    }
    
    .cajaPregunta{ 
        margin: auto;
        width: 80%;
        height: 460px;
        text-shadow: 2px 2px 0 white, 6px 6px 2px #777, 12px 12px 8px rgb(117, 116, 116);
    }
    
    .pregunta{
        padding-top: 7%;
        font-size: 1.6rem;
        margin-left: 4%;
    }
    
    .respuestas{
        padding-top: 3%;
        margin-bottom: 3%;
        font-size: 1.2rem;
        font-weight: bold;
        margin-left: 10%;
    }
    
    .respuestas .res{
        padding-top: 3%;
    }
    
    .txtRespuesta{
        font-size: 0.9rem;
        text-align: center;
        font-weight: bold;
        margin-top: 7%;
        
    }
    
    input{
        margin-top: 4%;
        width: 75px;
        height: 30px;
        font-size: 1.2rem;
        font-weight: bold;
        border-radius: 50%;
        color: white;
        background-color: rgba(10, 9, 9, 0.8);
        box-shadow: 4px 4px 2px rgb(56, 56, 56), 12px 12px 8px rgb(10, 4, 4);
        margin-left: 5%;
        margin-right: 3%;
    }
    
    .botones {
        text-align: center;
    }

}*/